.home-header
{
    padding:2rem;
    margin-bottom: 2rem;
}
.top-nav-bar
{
    position: fixed;
    top:20vh;
    width:90%;
    left:50vw;
    transform: translateX(-50%);
    z-index: -1;
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
    visibility: hidden;
}
.nav-list
{
    list-style-type:none;
    padding:2rem; 
    display:flex;
    flex-direction: column;
}
.nav-list__item
{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: capitalize;
    color:var(--hiding-clr);
    font-weight: var(--med);
    display: block;
    transition: opacity .3s;
}
.nav-list__item:hover
{
    opacity: .6;
}
.nav-list__item:focus
{
    outline: solid var(--text-clr) 2px;
}
.top-nav-bar a
{
    text-decoration: none;
    color:inherit;
}
.nav-list__item:last-child
{
    margin:0;
}
.show-close-btns
{
    position:fixed;
    z-index: 100;
    top:2rem;
    right:2rem;
}
.home-header .btn
{
    width:0;
    height:0;
    overflow: hidden;
    padding:0;
}
.btn
{
    background-color: var(--orange);
    color:white;
    font-weight:var(--bold);
    padding:.8rem 1.6rem;
    border-radius: 1.5rem;
    letter-spacing: 3px;
    transition: opacity .3s;
    box-shadow: 0 0 8px 0 var(--orange) ;
}
.btn:hover
{
    opacity: .6s;
}
.btn:focus
{
    outline:2px solid var(--text-clr);
}
.not-visible
{
    width:0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.show-nav-bar
{
    z-index: 100;
    visibility: visible;
}
@media screen and (min-width: 1000px)
{
    .home-header
    {
        display:flex;
        justify-content: space-evenly;
        align-items: baseline;
        margin-bottom: 5rem;
    }
    .top-nav-bar
    {
        z-index: 0;
        visibility: visible;
        position: static;
        margin:0;
        transform:translateX(0); 
        width:auto;
        background-color: inherit;
        box-shadow: none;
        transition: visibility 0s;
    }
    .nav-list
    {
        flex-direction: row;
        padding:0;
    }
    .nav-list__item
    {
        margin-bottom:0;
        margin-right:2rem;
    }
    .show-close-btns
    {
        width:0;
        height:0;
        overflow: hidden;
    }
    .home-header .btn
    {
        width:auto;
        height: auto;
        padding:.8rem 1.6rem;
    }
}